%h1 HelloF
=link_to 'New', new_post_path
%ul
  - @posts.group_by(&:day).each do |day, posts|
    %li
      %p
        = day
        %ul
          - posts.each do |post|
            %li
              = post.content
